<ion-header>

  <ion-navbar>
    <ion-title>{{ 'companies' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<!-- Start Establishing Companies Service -->
<ion-content>

  <form [formGroup]="establishingForm">
    <ion-grid>
      <ion-row>




        <ion-col col-6 class="selectSection">
          <ion-label>{{ 'country' | translate }}</ion-label>
          <ion-select interface="popover" formControlName="country" [(ngModel)]="Country" (ngModelChange)="getRegionValue()" required>
            <ion-option *ngFor="let country of countryArr" value="{{country.code}}">{{country.value}}</ion-option>
            <!-- <ion-option value="URB">country 2</ion-option>
            <ion-option value="ENG">country 3</ion-option> -->

          </ion-select>
        </ion-col>

        <ion-col col-6 class="selectSection">
          <ion-label>{{ 'region' | translate }}</ion-label>
          <ion-select interface="popover" formControlName="region" [(ngModel)]="Region" required>
            <ion-option *ngFor="let region of RegionArr" value="{{region.code}}">{{region.value}}</ion-option>
            <!-- <ion-option value="Egypt">region 2</ion-option>
            <ion-option value="Alex">region 3</ion-option> -->

          </ion-select>
        </ion-col>

        <ion-col col-6>
          <ion-label stacked>{{ 'activity' | translate }}</ion-label>
          <ion-input type="text" formControlName="activity" [(ngModel)]="Activity" required></ion-input>
          <p class="validationHint" *ngIf="hasError('activity', 'required')">{{ 'require' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('activity', 'minlength')">{{ 'MinLenght4' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('activity', 'maxlength')">{{ 'MaxLenght30' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('activity', 'pattern')">{{ 'BadNameFormat' | translate }}</p>

        </ion-col>

        <ion-col col-6>
          <ion-label stacked>{{ 'capital' | translate }}</ion-label>
          <ion-input type="number" formControlName="capital" [(ngModel)]="Capital" required></ion-input>
          <p class="validationHint" *ngIf="hasError('capital', 'required')">{{ 'require' | translate }}</p>
          <p class="validationHint" *ngIf="hasError('capital', 'minlength')">{{ 'MinLenght4' | translate }}</p>


        </ion-col>

        <!-- <ion-col col-12>
          <ion-label stacked>{{ 'idNo' | translate }}</ion-label>
          <ion-input type="number" formControlName="idNo" [(ngModel)]="IdNo" required></ion-input>
        </ion-col> -->

        <ion-col col-12>
          <ion-list class="fieldTitle">
            <ion-label stacked>{{ "idCard" | translate }}</ion-label>
            <ion-item class="changeImg">
              <!-- <p>{{ 'idCard' | translate }}</p>
            <button ion-button outline (click)="takePicture(camera.PictureSourceType.PHOTOLIBRARY)">{{ 'uploadFile' |
              translate }}</button>
            <span>{{ picname1 != ''? picname1 : ('NoFileChosen' | translate) }}</span> -->

              <ion-thumbnail item-start>
                <img *ngIf="path1 != ''" src="{{path1}}" />
                <img *ngIf="path1 == ''" src="./assets/imgs/defaultImg.jpg" />

              </ion-thumbnail>
              <button ion-button outline (click)="takePicture(camera.PictureSourceType.PHOTOLIBRARY)">
                {{ "uploadPhoto" | translate }}
              </button>

            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-12>
          <ion-list class="fieldTitle">
            <ion-label stacked>{{ "authCopy" | translate }}</ion-label>
            <ion-item class="changeImg">
              <!-- <p>{{ 'authCopy' | translate }}</p>
            <button ion-button outline (click)="takePicture3(camera.PictureSourceType.PHOTOLIBRARY)">{{ 'uploadFile' |
              translate }}</button>
            <span>{{ picname3 != ''? picname3 : ('NoFileChosen' | translate) }}</span> -->

              <ion-thumbnail item-start>
                <img *ngIf="path2 != ''" src="{{path2}}" />
                <img *ngIf="path2 == ''" src="./assets/imgs/defaultImg.jpg" />

              </ion-thumbnail>
              <button ion-button outline (click)="takePicture2(camera.PictureSourceType.PHOTOLIBRARY)">
                {{ "uploadPhoto" | translate }}
              </button>

            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-12>
          <ion-list class="fieldTitle">
            <ion-label stacked>{{ "rentalAgreement" | translate }}</ion-label>
            <ion-item class="changeImg">
              <!-- <p>{{ 'rentalAgreement' | translate }}</p>
            <button ion-button outline (click)="takePicture4(camera.PictureSourceType.PHOTOLIBRARY)">{{ 'uploadFile' |
              translate }}</button>
            <span>{{ picname4 != ''? picname4 : ('NoFileChosen' | translate) }}</span> -->

              <ion-thumbnail item-start>
                <img *ngIf="path3 != ''" src="{{path3}}" />
                <img *ngIf="path3 == ''" src="./assets/imgs/defaultImg.jpg" />

              </ion-thumbnail>
              <button ion-button outline (click)="takePicture3(camera.PictureSourceType.PHOTOLIBRARY)">
                {{ "uploadPhoto" | translate }}
              </button>

            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-12>
          <ion-label stacked>{{ 'others' | translate }}&nbsp;<span class="optionSpan">{{ 'optional' | translate }}</span></ion-label>
          <ion-textarea formControlName="others" [(ngModel)]="Others"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button block class="sendbtn" (click)="establishingService()" [disabled]="!establishingForm.valid || file1 =='' || file2 == '' || file3 == ''  ">{{'send'
      | translate}}</button>
  </form>

</ion-content>
<!-- End Establishing Companies Service -->
