<ion-content padding class="Authentication-Form" overflow-scroll="false">

  <div class="logo animated bounceInDown">
    <img src="./assets/imgs/rafal-logo.png">
  </div>

  <form class="{{'ArabicOrEnglishForm' | translate}}" [formGroup]="myForm" (ngSubmit)="resetpassowrd()">
    <ion-list>

      <ion-item class="item1 animated bounceInUp">
        <ion-label floating>
          <ion-icon name="ios-phone-portrait-outline"></ion-icon>
          {{'ConfirmationCode' | translate}}
        </ion-label>
        <ion-input type="text" id="Code" formControlName="codenumber" [(ngModel)]="codeNumber" required></ion-input>
      </ion-item>
      <p class="validationHint" *ngIf="hasError('codenumber', 'required')">{{ 'require' | translate }}</p>
      <ion-item class="animated bounceInUp">
        <ion-label floating>
          <ion-icon name="ios-lock-outline"></ion-icon>
          {{'Password' | translate}}
        </ion-label>
        <ion-input id="Password" type="{{passwordTypeStyle}}" formControlName="password" [(ngModel)]="Password"></ion-input>

      </ion-item>
      <p class="validationHint" *ngIf="hasError('password', 'pattern')">{{ 'passMissMatch' | translate }}</p>
      <p class="validationHint" *ngIf="hasError('password', 'required')">{{ 'require' | translate }}</p>
      <!-- show/hide password Icons -->
      <div class="{{'showPassword' | translate}} animated bounceInUp">
        <ion-icon name="ios-eye-outline" class="showPass" (click)="ChangePasswordStyle('text')" *ngIf="passwordTypeStyle === 'password'"></ion-icon>
        <ion-icon name="ios-eye-off-outline" class="showPass" (click)="ChangePasswordStyle('password')" *ngIf="passwordTypeStyle === 'text'"></ion-icon>
      </div>

      <ion-item class="animated bounceInUp">
        <ion-label floating>
          <ion-icon name="ios-lock-outline"></ion-icon>
          {{'ConfirmePassword' | translate}}
        </ion-label>
        <ion-input id="repeatPassword" formControlName="resetpassword" [(ngModel)]="resetPassword" type="{{passwordTypeStyle2}}"></ion-input>
        <!-- <p class="validationHint" *ngIf="hasError('resetpassword', 'minlength')">{{ 'MinLenght3' | translate }}</p> -->

      </ion-item>
      <p class="validationHint" *ngIf="hasError('resetpassword', 'pattern')">{{ 'passMissMatch' | translate }}</p>
      <p class="validationHint" *ngIf="hasError('resetpassword', 'required')">{{ 'require' | translate }}</p>

      <!-- show/hide password Icons -->
      <div class="{{'showPassword' | translate}} animated bounceInUp">
        <ion-icon name="ios-eye-outline" class="showPass" (click)="ChangePasswordStyle2('text')" *ngIf="passwordTypeStyle2 === 'password'"></ion-icon>
        <ion-icon name="ios-eye-off-outline" class="showPass" (click)="ChangePasswordStyle2('password')" *ngIf="passwordTypeStyle2 === 'text'"></ion-icon>
      </div>

    </ion-list>

    <button ion-button block type="submit" [disabled]="!myForm.valid ||(myForm.value.password !== myForm.value.resetpassword) "
      class="animated bounceInUp mainBtn">{{'ChangePassword'
      | translate}}</button>

  </form>

  <div class="noRegister animated bounceInUp">
    <button ion-button clear type="button" (click)="resendCode()">{{'ResendCode' | translate}}</button>
    <p class="resendCodeBtn">{{'Wait3Minutes' | translate}}</p>
  </div>

</ion-content>
